/*  your css code here. If applicable */
#buttons {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
		}

		.btn {
			display: inline-block;
			padding: 10px;
			margin: 10px;
			background-color: #3f51b5;
			color: #fff;
			border: none;
			border-radius: 5px;
			cursor: pointer;
		}

		.stop {
			background-color: #f44336;
		}